<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>4IoAH4wvPKbwAR9Atc6XjVPj772IODxb</string>
    <key>Domain</key>
    <string>dev-rgsh3btwyccrcgxf.us.auth0.com</string>
</dict>
</plist>
